workflows/14-outreach-execution.json
{
  "name": "14 — Linda's Outreach Execution (Books + SkyforgeAI)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 11 * * *" }] } },
      "id": "cron", "name": "11:00am Daily", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "select", "schema": "public", "table": "linda_outreach_prospects",
        "filterType": "string", "filterString": "status=eq.queued",
        "additionalFields": { "limit": 15 }
      },
      "id": "get-queued", "name": "Get Queued Prospects (15)", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [500, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nreturn rows.filter(r => r.json.platform && r.json.post_content).map(r => ({ json: r.json }));"
      },
      "id": "filter-valid", "name": "Filter Valid", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [760, 300]
    },
    {
      "parameters": {
        "operation": "select", "schema": "public", "table": "system_prompts",
        "filterType": "string", "filterString": "prompt_name=eq.write_book_outreach"
      },
      "id": "get-prompt", "name": "Get Outreach Prompt", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1020, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
          { "name": "anthropic-version", "value": "2023-06-01" }
        ]},
        "sendBody": true,
        "bodyParameters": { "parameters": [
          { "name": "model", "value": "claude-sonnet-4-6" },
          { "name": "max_tokens", "value": "300" },
          { "name": "system", "value": "={{ $('Get Outreach Prompt').item.json.content }}" },
          { "name": "messages", "value": "=[{\"role\": \"user\", \"content\": \"Post: {{ $('Filter Valid').item.json.post_content }}\\nTarget asset: {{ $('Filter Valid').item.json.target_asset }}\\nUsername: {{ $('Filter Valid').item.json.full_name }}\"}]" }
        ]}
      },
      "id": "write-message", "name": "Write Message (Claude)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1280, 300]
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Write Message (Claude)').item.json.content?.[0]?.text || '';\nreturn [{ json: { ...($('Filter Valid').item.json), message_sent: msg } }];"
      },
      "id": "extract-msg", "name": "Extract Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1540, 300]
    },
    {
      "parameters": {
        "operation": "update", "schema": "public", "table": "linda_outreach_prospects",
        "filterType": "string", "filterString": "id=eq.{{ $json.id }}",
        "columns": { "mappingMode": "defineBelow", "value": {
          "message_sent": "={{ $json.message_sent }}",
          "sent_at": "={{ $now }}",
          "status": "sent"
        }}
      },
      "id": "mark-sent", "name": "Mark Sent", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1800, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "operation": "update", "schema": "public", "table": "wig_daily_metrics",
        "filterType": "string", "filterString": "date=eq.{{ $today }}",
        "columns": { "mappingMode": "defineBelow", "value": { "outreach_sent": 1 } }
      },
      "id": "update-metrics", "name": "Update Metrics", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [2060, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    }
  ],
  "connections": {
    "11:00am Daily":            { "main": [[{ "node": "Get Queued Prospects (15)", "type": "main", "index": 0 }]] },
    "Get Queued Prospects (15)":{ "main": [[{ "node": "Filter Valid", "type": "main", "index": 0 }]] },
    "Filter Valid":             { "main": [[{ "node": "Get Outreach Prompt", "type": "main", "index": 0 }]] },
    "Get Outreach Prompt":      { "main": [[{ "node": "Write Message (Claude)", "type": "main", "index": 0 }]] },
    "Write Message (Claude)":   { "main": [[{ "node": "Extract Message", "type": "main", "index": 0 }]] },
    "Extract Message":          { "main": [[{ "node": "Mark Sent", "type": "main", "index": 0 }]] },
    "Mark Sent":                { "main": [[{ "node": "Update Metrics", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "linda" }, { "name": "outreach" }]
}
