workflows/15-institutional-outreach.json
{
  "name": "15 — Linda's Institutional Outreach",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 * * 1,3,5" }] } },
      "id": "cron", "name": "Mon/Wed/Fri 10am", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "select", "schema": "public", "table": "linda_institutional_targets",
        "filterType": "string", "filterString": "status=eq.identified&outreach_1_sent_at=is.null",
        "additionalFields": { "limit": 10 }
      },
      "id": "get-targets", "name": "Get New Targets", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [500, 200],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "operation": "select", "schema": "public", "table": "linda_institutional_targets",
        "filterType": "string", "filterString": "status=eq.contacted&outreach_2_sent_at=is.null&outreach_1_sent_at=lt.{{ new Date(Date.now()-5*86400000).toISOString() }}"
      },
      "id": "get-followup", "name": "Get Follow-up Targets", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [500, 440],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "operation": "select", "schema": "public", "table": "system_prompts",
        "filterType": "string", "filterString": "prompt_name=eq.write_institutional_email"
      },
      "id": "get-prompt", "name": "Get Prompt", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [760, 200],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
          { "name": "anthropic-version", "value": "2023-06-01" }
        ]},
        "sendBody": true,
        "bodyParameters": { "parameters": [
          { "name": "model", "value": "claude-sonnet-4-6" },
          { "name": "max_tokens", "value": "400" },
          { "name": "system", "value": "={{ $('Get Prompt').item.json.content }}" },
          { "name": "messages", "value": "=[{\"role\": \"user\", \"content\": \"Org: {{ $('Get New Targets').item.json.org_name }}\\nType: {{ $('Get New Targets').item.json.org_type }}\\nContact: {{ $('Get New Targets').item.json.contact_name }}, {{ $('Get New Targets').item.json.contact_title }}\\nEstimated copies: {{ $('Get New Targets').item.json.copies_estimate }}\"}]" }
        ]}
      },
      "id": "write-email", "name": "Write Outreach Email", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1020, 200]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{ $env.RESEND_API_KEY }}" }] },
        "sendBody": true,
        "bodyParameters": { "parameters": [
          { "name": "from", "value": "Bishop Watkins <bishop@wigmail.co>" },
          { "name": "to", "value": "={{ $('Get New Targets').item.json.contact_email }}" },
          { "name": "subject", "value": "The Inmate Traveler's Guide — Institutional Pricing" },
          { "name": "html", "value": "={{ $('Write Outreach Email').item.json.content?.[0]?.text || '' }}" }
        ]}
      },
      "id": "send-email", "name": "Send Outreach Email", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1280, 200]
    },
    {
      "parameters": {
        "operation": "update", "schema": "public", "table": "linda_institutional_targets",
        "filterType": "string", "filterString": "id=eq.{{ $('Get New Targets').item.json.id }}",
        "columns": { "mappingMode": "defineBelow", "value": { "outreach_1_sent_at": "={{ $now }}", "status": "contacted" } }
      },
      "id": "mark-contacted", "name": "Mark Contacted", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1540, 200],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "operation": "update", "schema": "public", "table": "wig_daily_metrics",
        "filterType": "string", "filterString": "date=eq.{{ $today }}",
        "columns": { "mappingMode": "defineBelow", "value": { "institutional_contacted": 1 } }
      },
      "id": "update-metrics", "name": "Update Metrics", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1800, 200],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    }
  ],
  "connections": {
    "Mon/Wed/Fri 10am": { "main": [[{ "node": "Get New Targets", "type": "main", "index": 0 }, { "node": "Get Follow-up Targets", "type": "main", "index": 0 }]] },
    "Get New Targets":  { "main": [[{ "node": "Get Prompt", "type": "main", "index": 0 }]] },
    "Get Prompt":       { "main": [[{ "node": "Write Outreach Email", "type": "main", "index": 0 }]] },
    "Write Outreach Email": { "main": [[{ "node": "Send Outreach Email", "type": "main", "index": 0 }]] },
    "Send Outreach Email":  { "main": [[{ "node": "Mark Contacted", "type": "main", "index": 0 }]] },
    "Mark Contacted":       { "main": [[{ "node": "Update Metrics", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "linda" }, { "name": "outreach" }, { "name": "institutional" }]
}
