workflows/19-social-posting-engagement.json
{
  "name": "19 — Social Posting + Engagement Monitor",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] } },
      "id": "cron", "name": "8:00am Daily", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "select", "schema": "public", "table": "linda_content_queue",
        "filterType": "string", "filterString": "status=eq.pending"
      },
      "id": "get-pending", "name": "Get Pending Content", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [500, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nreturn rows.filter(r => r.json.content_body && r.json.platform).map(r => ({ json: r.json }));"
      },
      "id": "filter", "name": "Filter Valid", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [760, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LINDA_URL }}/linda/zapier/webhook",
        "sendBody": true,
        "bodyParameters": { "parameters": [
          { "name": "event", "value": "social_post_ready" },
          { "name": "platform", "value": "={{ $json.platform }}" },
          { "name": "asset", "value": "={{ $json.asset }}" },
          { "name": "content", "value": "={{ $json.content_body }}" },
          { "name": "queue_id", "value": "={{ $json.id }}" }
        ]}
      },
      "id": "dispatch-post", "name": "Dispatch Post to Linda", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1020, 300]
    },
    {
      "parameters": {
        "operation": "update", "schema": "public", "table": "linda_content_queue",
        "filterType": "string", "filterString": "id=eq.{{ $('Filter Valid').item.json.id }}",
        "columns": { "mappingMode": "defineBelow", "value": { "status": "posted", "posted_at": "={{ $now }}" } }
      },
      "id": "mark-posted", "name": "Mark Posted", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1280, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    }
  ],
  "connections": {
    "8:00am Daily":      { "main": [[{ "node": "Get Pending Content", "type": "main", "index": 0 }]] },
    "Get Pending Content":{ "main": [[{ "node": "Filter Valid", "type": "main", "index": 0 }]] },
    "Filter Valid":      { "main": [[{ "node": "Dispatch Post to Linda", "type": "main", "index": 0 }]] },
    "Dispatch Post to Linda": { "main": [[{ "node": "Mark Posted", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "linda" }, { "name": "content" }, { "name": "social" }]
}
