workflows/22-web-design-first-contact.json
{
  "name": "22 — Web Design First Contact",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 * * 2,4" }] } },
      "id": "cron", "name": "Tue/Thu 10am", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "select", "schema": "public", "table": "wp_leads",
        "filterType": "string", "filterString": "status=eq.identified&outreach_sent=eq.false&email=not.is.null",
        "additionalFields": { "limit": 10 }
      },
      "id": "get-leads", "name": "Get Uncontacted Leads", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [500, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "operation": "select", "schema": "public", "table": "system_prompts",
        "filterType": "string", "filterString": "prompt_name=eq.write_web_design_outreach"
      },
      "id": "get-prompt", "name": "Get Outreach Prompt", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [760, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
          { "name": "anthropic-version", "value": "2023-06-01" }
        ]},
        "sendBody": true,
        "bodyParameters": { "parameters": [
          { "name": "model", "value": "claude-sonnet-4-6" },
          { "name": "max_tokens", "value": "350" },
          { "name": "system", "value": "={{ $('Get Outreach Prompt').item.json.content }}" },
          { "name": "messages", "value": "=[{\"role\": \"user\", \"content\": \"Business: {{ $('Get Uncontacted Leads').item.json.business_name }}\\nWebsite: {{ $('Get Uncontacted Leads').item.json.website_url }}\\nLocation: {{ $('Get Uncontacted Leads').item.json.address }}\"}]" }
        ]}
      },
      "id": "write-email", "name": "Write Outreach Email", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1020, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{ $env.RESEND_API_KEY }}" }] },
        "sendBody": true,
        "bodyParameters": { "parameters": [
          { "name": "from", "value": "Linda <linda@wigmail.co>" },
          { "name": "to", "value": "={{ $('Get Uncontacted Leads').item.json.email }}" },
          { "name": "subject", "value": "Quick question about your website" },
          { "name": "html", "value": "={{ $('Write Outreach Email').item.json.content?.[0]?.text || '' }}" }
        ]}
      },
      "id": "send-email", "name": "Send Email", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1280, 300]
    },
    {
      "parameters": {
        "operation": "update", "schema": "public", "table": "wp_leads",
        "filterType": "string", "filterString": "id=eq.{{ $('Get Uncontacted Leads').item.json.id }}",
        "columns": { "mappingMode": "defineBelow", "value": { "outreach_sent": true, "outreach_sent_at": "={{ $now }}", "status": "contacted" } }
      },
      "id": "mark-sent", "name": "Mark Contacted", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1540, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "operation": "update", "schema": "public", "table": "wig_daily_metrics",
        "filterType": "string", "filterString": "date=eq.{{ $today }}",
        "columns": { "mappingMode": "defineBelow", "value": { "outreach_sent": 1 } }
      },
      "id": "update-metrics", "name": "Update Metrics", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1800, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    }
  ],
  "connections": {
    "Tue/Thu 10am":          { "main": [[{ "node": "Get Uncontacted Leads", "type": "main", "index": 0 }]] },
    "Get Uncontacted Leads": { "main": [[{ "node": "Get Outreach Prompt", "type": "main", "index": 0 }]] },
    "Get Outreach Prompt":   { "main": [[{ "node": "Write Outreach Email", "type": "main", "index": 0 }]] },
    "Write Outreach Email":  { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] },
    "Send Email":            { "main": [[{ "node": "Mark Contacted", "type": "main", "index": 0 }]] },
    "Mark Contacted":        { "main": [[{ "node": "Update Metrics", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "linda" }, { "name": "web-design" }, { "name": "outreach" }]
}
