workflows/25-web-design-discovery-proposal.json
{
  "name": "25 — Web Design Discovery → Proposal",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "wp-discovery-complete", "responseMode": "lastNode", "options": {} },
      "id": "webhook", "name": "Webhook: Discovery Complete", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  lead_id: b.lead_id || '',\n  contact_name: b.contact_name || '',\n  business_name: b.business_name || '',\n  contact_email: b.contact_email || b.email || '',\n  scope_bullets: Array.isArray(b.scope_bullets) ? b.scope_bullets : [b.scope || ''],\n  timeline: b.timeline || '4-6 weeks',\n  total_value: parseFloat(b.total_value || 0),\n  deposit_pct: 0.5\n}}];"
      },
      "id": "normalize", "name": "Normalize Discovery Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "select", "schema": "public", "table": "system_prompts",
        "filterType": "string", "filterString": "prompt_name=eq.generate_web_proposal"
      },
      "id": "get-prompt", "name": "Get Proposal Prompt", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [760, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
          { "name": "anthropic-version", "value": "2023-06-01" }
        ]},
        "sendBody": true,
        "bodyParameters": { "parameters": [
          { "name": "model", "value": "claude-sonnet-4-6" },
          { "name": "max_tokens", "value": "600" },
          { "name": "system", "value": "={{ $('Get Proposal Prompt').item.json.content }}" },
          { "name": "messages", "value": "=[{\"role\": \"user\", \"content\": \"Client: {{ $('Normalize Discovery Data').item.json.contact_name }} / {{ $('Normalize Discovery Data').item.json.business_name }}\\nScope: {{ $('Normalize Discovery Data').item.json.scope_bullets.join(', ') }}\\nTimeline: {{ $('Normalize Discovery Data').item.json.timeline }}\\nTotal value: ${{ $('Normalize Discovery Data').item.json.total_value }}\\nDeposit: 50% (${{ ($('Normalize Discovery Data').item.json.total_value * 0.5).toFixed(2) }})\"}]" }
        ]}
      },
      "id": "gen-proposal", "name": "Generate Proposal (Claude)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1020, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{ $env.RESEND_API_KEY }}" }] },
        "sendBody": true,
        "bodyParameters": { "parameters": [
          { "name": "from", "value": "Linda <linda@wigmail.co>" },
          { "name": "to", "value": "={{ $('Normalize Discovery Data').item.json.contact_email }}" },
          { "name": "subject", "value": "={{ 'Your Website Proposal — ' + $('Normalize Discovery Data').item.json.business_name }}" },
          { "name": "html", "value": "={{ $('Generate Proposal (Claude)').item.json.content?.[0]?.text || '' }}" }
        ]}
      },
      "id": "send-proposal", "name": "Send Proposal", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1280, 300]
    },
    {
      "parameters": {
        "operation": "update", "schema": "public", "table": "wp_qualified_leads",
        "filterType": "string", "filterString": "id=eq.{{ $('Normalize Discovery Data').item.json.lead_id }}",
        "columns": { "mappingMode": "defineBelow", "value": {
          "proposal_sent_at": "={{ $now }}",
          "proposal_amount": "={{ $('Normalize Discovery Data').item.json.total_value }}",
          "status": "proposal_sent"
        }}
      },
      "id": "mark-proposal", "name": "Mark Proposal Sent", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1540, 300],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={ \"status\": \"ok\" }" },
      "id": "respond", "name": "Respond 200", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1800, 300]
    }
  ],
  "connections": {
    "Webhook: Discovery Complete":  { "main": [[{ "node": "Normalize Discovery Data", "type": "main", "index": 0 }]] },
    "Normalize Discovery Data":     { "main": [[{ "node": "Get Proposal Prompt", "type": "main", "index": 0 }]] },
    "Get Proposal Prompt":          { "main": [[{ "node": "Generate Proposal (Claude)", "type": "main", "index": 0 }]] },
    "Generate Proposal (Claude)":   { "main": [[{ "node": "Send Proposal", "type": "main", "index": 0 }]] },
    "Send Proposal":                { "main": [[{ "node": "Mark Proposal Sent", "type": "main", "index": 0 }]] },
    "Mark Proposal Sent":           { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "linda" }, { "name": "web-design" }, { "name": "proposal" }]
}
